<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yushu.mapper.EpisodeMapper">
  <resultMap id="BaseResultMap" type="com.yushu.model.Episode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="duration" jdbcType="VARCHAR" property="duration" />
    <result column="cover_img" jdbcType="VARCHAR" property="coverImg" />
    <result column="video_id" jdbcType="INTEGER" property="videoId" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="chapter_id" jdbcType="INTEGER" property="chapterId" />
    <result column="delete_status" jdbcType="BIT" property="deleteStatus" />
  </resultMap>
</mapper>