<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yushu.mapper.VideoOrderMapper">
  <resultMap id="BaseResultMap" type="com.yushu.model.VideoOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="out_trade_no" jdbcType="VARCHAR" property="outTradeNo" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="notify_time" jdbcType="TIMESTAMP" property="notifyTime" />
    <result column="total_fee" jdbcType="INTEGER" property="totalFee" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="video_id" jdbcType="INTEGER" property="videoId" />
    <result column="video_title" jdbcType="VARCHAR" property="videoTitle" />
    <result column="video_img" jdbcType="VARCHAR" property="videoImg" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="delete_status" jdbcType="BIT" property="deleteStatus" />
  </resultMap>
</mapper>